﻿@using Tests.Plinth.Templating.Templates.Models
@inherits Plinth.Templating.Template<TestModel1>
@model TestModel1
@{
    Layout = "TestLayout";
}
<span>Hello There, @Model.Name [@Model.Id]</span>@foreach (var a in Model.Aliases!) {<span>@a</span>}

@{ await IncludeAsync("Shared/Components/Button", "Button1"); }

@{ await IncludeAsync("Shared.Components.Button", Model.Name); }

@{ await IncludeAsync("Button", "Button3"); }