﻿@using Tests.Plinth.Templating.Templates.Models
@inherits Plinth.Templating.Template<TestModel1>
@model TestModel1
@{
    Layout = "TestLayout";
}
<span>Hello There, @Model.Name [@Model.Id]</span>@foreach (var a in Model.Aliases!) {<span>@a</span>}