﻿@using Tests.Plinth.Templating.Templates.Models
@inherits Plinth.Templating.Template<TestModel1>
@model TestModel1
@{
    Layout = "TestLayout";
}
<span>Hello There, @Model.Name [@Model.Id]</span>@foreach (var a in Model.Aliases!) {<span>@a</span>}

<span>2x = @Double(Model.Id)</span>
<span>3x = @Triple()</span>

@{ await IncludeAsync("Functions", Model.Id); }

@functions {

    public static int Double(int x) => x * 2;

}

@{
    // local functions can access the model
    int Triple() => Model.Id * 3;
}