﻿@using Tests.Plinth.Templating.Templates.Models
@inherits Plinth.Templating.Template<TestModel1>
@model TestModel1
<span>Hello @Model.Name (@ViewBag.PersonName), are you @GetYears() years old?</span>
@{

    int GetYears() => (int)(ViewBag.Age.TotalDays / 365.0);

}